* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(17, 17, 27, 0.85);
}

button {
    border-radius: 20px;
    border: 2px solid rgba(49, 50, 68, 0.8);
    color: #cdd6f4;
    background-color: #1e1e2e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    margin: 10px;
}

button:focus,
button:active,
button:hover {
    background-color: #313244;
    outline-style: none;
    background-size: 50%;
    transition: all 0.2s ease-in-out;
}

#lock {
    background-image: url("themes/catppuccin/icons/lock.png");
}

#logout {
    background-image: url("themes/catppuccin/icons/logout.png");
}

#reboot {
    background-image: url("themes/catppuccin/icons/reboot.png");
}

#shutdown {
    background-image: url("themes/catppuccin/icons/shutdown.png");
}